In [20]:
import csv
import pandas as pd

df = pd.read_csv('LAKEHOUSE_SILVER_LAYER/plantshift.csv')
mainarr=[]
for i in range(0,len(df)):
    plantproduction=df["Quantity"][i]
    date=df["Date"][i]
    hour=df["Hour"][i].split("-")[0]
    lanes=df["Bay"][i]
    arr=(plantproduction,date,hour,lanes)
    mainarr.append(arr)
    
item_col=[ "Planned production","date","hour","lane values"]
step1_df = pd.DataFrame(mainarr, columns=item_col)
step1_df

      Planned production        date  hour lane values
0                     21  2022-06-01  1900     EE-0001
1                     21  2022-06-01  1900     EE-0001
2                     21  2022-06-01  1900     EE-0001
3                     21  2022-06-01  1900     EE-0001
4                     22  2022-06-01  1900     EE-0001
...                  ...         ...   ...         ...
2364                  27  2022-06-09  1900     SB-0001
2365                  28  2022-06-09  1900     SB-0001
2366                  28  2022-06-09  1900     SB-0001
2367                 105  2022-06-09  1900     EP-0001
2368                 105  2022-06-09  1900     EP-0001

[2369 rows x 4 columns]

In [12]:
df

,ID,ItemNo,Date,Shift,Station,Hour,Quantity,LineLeader,Bay,DivisionId,CreationDateTime,BreakTime,WorkOrderId,Company,Division
0,1,Items-EE-07197264-UK,2022-06-01,G,EE-0001,1900-01-01 17:00:00,21,EE_LineLeader_1,EE-0001,4,2022-06-01 21:02:00,0,W-749816,NaN,NaN
1,2,Items-EE-07197264-UK,2022-06-01,G,EE-0001,1900-01-01 20:00:00,21,EE_LineLeader_1,EE-0001,4,2022-06-01 21:04:00,0,W-749816,NaN,NaN
2,3,Items-EE-07197264-UK,2022-06-01,G,EE-0001,1900-01-01 15:00:00,21,EE_LineLeader_1,EE-0001,4,2022-06-01 21:06:00,0,W-749816,NaN,NaN
3,4,Items-EE-07197264-UK,2022-06-01,G,EE-0001,1900-01-01 16:00:00,21,EE_LineLeader_1,EE-0001,4,2022-06-01 21:08:00,60,W-749816,NaN,NaN
4,5,Items-EE-07197264-UK,2022-06-01,G,EE-0001,1900-01-01 09:00:00,22,EE_LineLeader_1,EE-0001,4,2022-06-01 21:10:00,0,W-749816,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2364,2365,Items-SB-02330381-US,2022-06-09,G,SB-0001,1900-01-01 14:00:00,27,SB_LineLeader_1,SB-0001,3,2022-06-09 16:12:00,30,W-36188,NaN,NaN
2365,2366,Items-SB-02330381-US,2022-06-09,G,SB-0001,1900-01-01 20:00:00,28,SB_LineLeader_1,SB-0001,3,2022-06-09 16:14:00,0,W-36188,NaN,NaN
2366,2367,Items-SB-02330381-US,2022-06-09,G,SB-0001,1900-01-01 20:00:00,28,SB_LineLeader_1,SB-0001,3,2022-06-09 16:16:00,60,W-36188,NaN,NaN
2367,2368,Items-EP-07767398-CH,2022-06-09,G,EP-0001,1900-01-01 14:00:00,105,EP_LineLeader_1,EP-0001,1,2022-06-09 16:02:00,0,W-989803,NaN,NaN
2368,2369,Items-EP-07767398-CH,2022-06-09,G,EP-0001,1900-01-01 16:00:00,105,EP_LineLeader_1,EP-0001,1,2022-06-09 16:04:00,60,W-989803,NaN,NaN

In [42]:
resultdf = pd.read_csv('LAKEHOUSE_SILVER_LAYER/result.csv')
routingdf = pd.read_csv('LAKEHOUSE_SILVER_LAYER/routing1.csv')



step2df=pd.merge(resultdf,routingdf,left_on="RoutingStageId",right_on="id")
step2df
step2df.to_csv("test.csv")

C:\Users\angel\AppData\Local\Temp\ipykernel_13612\1462988985.py:1: DtypeWarning: Columns (12,16,17,18,19,20,21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  resultdf = pd.read_csv('LAKEHOUSE_SILVER_LAYER/result.csv')

In [ ]:

routingstageid=[]
for i in range(0,len(resultdf)):
    routingstageid.append(resultdf["RoutingStageId"][i])


r_id=[]
for i in range(0,len(routingdf)):
    r_id.append(routingdf["id"][i])


print(len(resultdf))
print(len(routingdf))
for i in range (0,len(resultdf)):
    if(routingstageid[i]!=r_id[i]):
        print(routingstageid[i])
        print(r_id[i])