In [1]:
import boto3
import sys
import os
import pandas as pd
import csv
import io

In [2]:
s3_client =boto3.client('s3')
s3_bucket_name='hackathon2023'
s3 = boto3.resource('s3',
                    aws_access_key_id= 'AKIA3AEXDSNEGXQERCGG',
                    aws_secret_access_key='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')

In [3]:
my_bucket=s3.Bucket(s3_bucket_name)
print(my_bucket.objects.filter(Prefix='data'))
bucket_list = []
for file in my_bucket.objects.filter(Prefix = 'data'):
    
    file_name=file.key
    if file_name.find(".csv")!=-1:
        bucket_list.append(file.key)
length_bucket_list=print(len(bucket_list))
print(bucket_list[0:10])

s3.Bucket.objectsCollection(s3.Bucket(name='hackathon2023'), s3.ObjectSummary)
4
['data/OperationsManagement/PlansShiftWise/PlansShiftWise.csv', 'data/OperationsManagement/Results/Results.csv', 'data/OperationsManagement/Workorders/Workorders.csv', 'data/SCSupplyChain/warehouse/warehouse.csv']

In [4]:
if sys.version_info[0] < 3:
    from StringIO import StringIO  # Python 2.x
else:
    from io import StringIO  # Python 3.x
    
df = []   # Initializing empty list of dataframes
for file in bucket_list:
    obj = s3.Object(s3_bucket_name,file)
    data=obj.get()['Body'].read()
    df.append(pd.read_csv(io.BytesIO(data), header=0, delimiter=",", low_memory=False))

In [5]:
len(df)

4

In [6]:
df[0]

     ID|ItemNo|Date|Shift|Station|Hour|Quantity|LineLeader|Bay|DivisionId|CreationDateTime|BreakTime|WorkOrderId|Company|Division
0     1|Items-EE-07197264-UK|2022-06-01|G|EE-0001|19...
1     2|Items-EE-07197264-UK|2022-06-01|G|EE-0001|19...
2     3|Items-EE-07197264-UK|2022-06-01|G|EE-0001|19...
3     4|Items-EE-07197264-UK|2022-06-01|G|EE-0001|19...
4     5|Items-EE-07197264-UK|2022-06-01|G|EE-0001|19...
...                                                 ...
2364  2365|Items-SB-02330381-US|2022-06-09|G|SB-0001...
2365  2366|Items-SB-02330381-US|2022-06-09|G|SB-0001...
2366  2367|Items-SB-02330381-US|2022-06-09|G|SB-0001...
2367  2368|Items-EP-07767398-CH|2022-06-09|G|EP-0001...
2368  2369|Items-EP-07767398-CH|2022-06-09|G|EP-0001...

[2369 rows x 1 columns]

In [9]:
for i in df[0]:
    print(i)

ID|ItemNo|Date|Shift|Station|Hour|Quantity|LineLeader|Bay|DivisionId|CreationDateTime|BreakTime|WorkOrderId|Company|Division